.head {  font-family: 'Arvo', serif;
  color: #007bff;  text-align: center;
}

.logo {
  font-weight: bolder;
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo h1 {
  margin-bottom: -5px;
}

.phone {color: black;}
.service {color: red;font-size: 1.25rem;}

.circle {
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
  /* the magic */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px 3px 10px 3px;
  background-color: white;
}

.navbar {
  font-family: 'Arvo', serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}


#hero {
	min-height: 400px;
	background: url("../img/hero-hotorcold.jpg");
	background-repeat: no-repeat;
	backgroun-position: right;
	background-size: cover;
}
#hero img {
	margin: 35vh 0;
}


@media (max-width: 992px) {
  .circle {
    display: none;
  }
	#hero {
	hero: 50px;
	background: url("../img/hero-hotorcold-m.jpg");
	background-repeat: no-repeat;
	backgroun-position: right;
	background-size: cover;
	}
	#hero img {
	margin: 15vh 0;
	}
}
