  <!-- /.container -->
  <div class="container-fluid bg-dark text-white pt-5 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>STIER HEATING &amp; COOLING INC.</h4>
          <p class="m-0">902 N Lincoln St.</p>
          <p class="m-0">Greensburg, IN 47240</p>
          <a role="button" class="btn btn-secondary mt-2" href="https://www.facebook.com/StierHeating/">Follow Us On
            Facebook!</a>
        </div>
        <div class="col-md-6">
          <h4>Serving the Communities Of</h4>
          <ul>
            <li>Greensburg</li>
            <li>Millhousen</li>
            <li>Westport</li>
            <li>New Point</li>
            <li>Clarksburg</li>
            <li>Lake Santee</li>
            <li>St Paul</li>
            <li>Shelbyville</li>
            <li>Rushville</li>
            <li>Milroy</li>
            <li>Burney</li>

          </ul>
        </div>
      </div>
    </div>  <p class="">&copy; 2020 Stier Heating &amp; Cooling &#124; Site by <a class="text-white" href="https://kstr.us">Kenny Stier</a> in <a class="text-white" href="https://millhousen.com">Millhousen</a> &#124; Contribute to the site on <a class="text-white" href="https://github.com/KennyStier61/stierheating.com">GitHub</a></p>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166806544-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-166806544-1');
  </script>