<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link rel="canonical" href="https://stierheating.com/" />
<link rel="icon" href="/img/favicon.png">
<meta property="og:image" content="/img/truck.jpg" />